<div class="container-fluid">
  <div class="top-container">
    <img class="top-cloud top-cloud-mobile" src="assets/cloud.png" alt="">
    <img class="bottom-cloud" src="assets/cloud.png" alt="">
    <h1> I'm Manish.</h1>
    <h2 class="proffesion">Web Developer</h2>
    <img class="mountain-img img-fluid" src="assets/mountain.png" alt="">

  </div>

  <div class="middle-container">
    <div class="profile">
      <img class="profile-img" src="assets/profile2.png" alt="profile-image">
      <h2>Hello.</h2>
      <p class="intro">I'm a Full Stack Developer with 3+ years of experience in MEAN stack
      </p>
    </div>
    <h2>Exprienced In Working</h2>
    <div class="row exp-work">
      <div class="col-sm-4">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body">
              <h5 class="card-title">FrontEnd</h5>
              <p class="card-text">
                <li>Creating Components</li>
                <li>Reactive/Template Driven Form</li>
                <li>API Integration</li>
                <li>Debugging using Chrome</li>
                <li>Working with Local Storage</li>
                <li>Monolithic and MicroService projects</li>
                <li>Dynamic Data Rendering on Component</li>
                <li>Services to share the State btw Component</li>
              </p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <h5 class="card-title">Library/Tools</h5>
              <p class="card-text">
                <li>Angular</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap 5</li>
                <li>Material Design</li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body">
              <h5 class="card-title">BackEnd</h5>
              <p class="card-text">
                <li>API Development</li>
                <li>Middleware Function</li>
                <li>Implementing CRON Jobs</li>
                <li>Enhancement and Code Maintenances</li>
                <li>Debugging Backend Code on VSCode</li>
                <li>Integrating Third Party API's</li>
                <li>Test Cases using Mocha Chai</li>
                <li>Authentication & Authorization using JWT</li>
              </p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <h5 class="card-title">Library/Tools</h5>
              <p class="card-text">
                <li>NodeJs</li>
                <li>NestJs</li>
                <li>Express</li>
                <li>Postman</li>
                <li>VScode</li>
                <li>Swagger Editor</li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-flip">
          <div class="card-front">
            <div class="card-body">
              <h5 class="card-title">Database & other skills</h5>
              <p class="card-text">
                <li>Sequelize ORM</li>
                <li>Mongoose ODM</li>
                <li>Type ORM</li>
                <li>AWS EC2</li>
                <li>Github</li>
                <li>BitBucket</li>
                <li>GitLab</li>
                <li>Experience in SQL queries</li>
              </p>
            </div>
          </div>
          <div class="card-back">
            <div class="card-body">
              <h5 class="card-title">Library/Tools</h5>
              <p class="card-text">
                <li>SQL</li>
                <li>MongoDb</li>
                <li>Postgres</li>
                <li>DBeaver</li>
                <li>PGadmin4</li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="skills">
      <h2>My Hobbies.</h2>
      <!-- <div class="skill-row">
        <img class="coding-skill" src="assets/programming.png" alt="programming-img">
        <h3>Design & Development</h3>
        <p>I started my professional coding journey since 2019. I have experience in MEAN stack Technology . I'm more
          interested in Backend Development</p>
      </div> -->
      <div class="skill-row">
        <img class="reading-skill" src="assets/reading.png" alt="reading-img">
        <h3>Reading Books</h3>
        <p>Recently Started it but pursing it as Habit now , I read self Improvement genre mostly, Do let me know
          your favorite genre/book !</p>
      </div>
      <div class="skill-row">
        <img class="gaming-skill" src="assets/gaming-console.png" alt="gaming-img">
        <h3>Gaming</h3>
        <p>Playstation in ❤️ . Single/Multi player whatever it be only WINNING matters, All the Cheatcodes are in pocket let me know if you need help</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <!-- <h3>BACKEND | FRONTEND | FREELANCING</h3> -->
      <p class="contact-msg">I'm Looking forward for great Opportunities,Learning,Exploring , Would be glad to help you with my skills to solve your problem/challenges</p>
      <a class="btn" href="mailto:vitkarmanish21@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/manish-v-2b69b3a0/">LinkedIn</a>
    <a class="footer-link" href="https://github.com/Manish21-v">Github</a>
    <a class="footer-link" href="https://www.hackerrank.com/vitkarmanish21">HackerRank</a>
    <p class="copyright">© 2023 Manish Vitkar.</p>
  </div>
</div>